@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca de Tomar</h1>
    <img src="~/Images/MainPage.jpg"
         width="720"
         alt="Foto de capa"
         title="Biblioteca de Tomar)" />
</div>
