@model Biblioteca_Tomar.Models.ReqLivros

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que pretende eliminar esta ligação?</h3>
<div>
    <h4>Livros à requisição</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Req)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Req.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Autor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
