@model Biblioteca_Tomar.Models.Requisicoes

@{
    ViewData["Title"] = "Revoke";
}

<h1>Devolução</h1>

<h4>Requisições</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Revoke">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Requisitante</label>
                @Html.DisplayFor(model => model.Requisitante.Nome)
            </div>
            <div class="form-group">
                <label class="control-label">Funcionário que entregou o(s) livro(s) </label>
                @Html.DisplayFor(model => model.FuncionarioInicioRequisicao.Nome)
            </div>
            <div class="form-group">
                <label class="control-label">Livro(s)</label>
                @foreach (var reqLivro in Model.ListaLivros)
                {<text>
                        <br />
                        @reqLivro.Livro.Titulo
                </text>
            }
            </div>
            <div class="form-group">
                <label asp-for="Multa" class="control-label"></label>
                <input asp-for="Multa" class="form-control" />
                <span asp-validation-for="Multa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Devolver livro" class="btn btn-danger" /> &nbsp;&nbsp;&nbsp;&nbsp;  <a asp-action="Index" class="btn btn-outline-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
